%h1 Listing items
%table.table
  %tr
    %th Title
    %th Body
    %th Latitude
    %th Longitude
    %th
    %th
    %th 	
=@items.each do |item|
  %tr
    %td= item.title
    %td= item.body
    %td= item.latitude
    %td= item.longitude
    %td= link_to 'Show', item
    %td= link_to 'Edit', edit_item_path(item)
    %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
end
%br
=link_to 'New Item', new_item_path