<!DOCTYPE html>
<html>
<head>
   <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= auto_discovery_link_tag(:rss, items_path(:rss)) %>
  <script type="text/javascript" src="http://j.maxmind.com/app/geoip.js"></script>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">

	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>

	      </a>

			<a class="brand" href="/">Tips two trip</a>

			 <div class="nav-collapse collapse">
				<nav>
					<ul class="nav pull-right">						
						<% if logged_in? %>
							<li>
								<%= link_to "Logout (#{current_user.username})",logout_path, method: 'delete' %>
							</li>
						<% else %>
							<li>
								<%= link_to 'Login', login_path %>
							</li>
						<% end %>							
						<li>
							<%= link_to 'Contact', contact_path %>
						</li> 
					</ul>
				</nav>
			</div>
		</div>
	</header><!-- end header -->

	<div class="container" style="margin-bottom: 60px;">
		<%= yield %>
	</div>

	<footer class="navbar navbar-fixed-bottom footer">
		<div class="navbar-inner">
			<nav>
				<ul class="nav pull-right">				
				<li>
					
				</li>
			</nav>
		</div>	
	</footer>

</body>
</html>
